.form__wrapper {
    margin: auto;
    flex-grow: 1;
    min-width: 280px;
    max-width: 580px;
    padding: 0 20px;
}

.form__title {
    margin: 15px 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 28px;
}

.form__p {
    margin: 15px 0;
    margin-bottom: 58px;
    font-weight: 300;
}


.btn {
  z-index: 10;
  display: block;
  padding: 0;
  margin: 0;

  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;

  cursor: pointer;

  &--big {
    padding: 15px 20px;
    width: 100%;
    max-width: 340px;
    font-weight: 600;
    color: $text-color-btn;
    border-radius: 25px;
    background-color: $bg-color-btn;
    box-shadow: 0 4px 12px 0 $shadow-color;

    &:hover,
    &:focus {
        color: transparentize($text-color-btn, 0.2);
        background-color: $bg-color-btn-focus;
        box-shadow: 0 2px 8px 0 $shadow-color;
    }
  }
}

.btn--signin {
    margin: 53px auto;
}

.text-field {
    position: relative;
    margin: 36px 0;

    .btn--clear {
        position: absolute;
        width: 12px;
        height: 12px;
        right: 10px;
        top: 10px;

        .btn__icon {
            fill: $bg-color-icon;
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }
}

.text-field__input {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    line-height: 22px;
    border: none;
    border-bottom: 1px solid $text-color-main;
    outline: none;

    @include placeholder(transparent);
}

.text-field__label {
    position: absolute;
    left: 0;
    top: 8px;

    color: $text-color-secondary;

    transform: top font-size 0.8s;

    .text-field__input:focus + & {
        top: -16px;
        font-size: 12px;
    }

    .text-field__input:valid + & {
        display: none;
    }
}
