$warm-pink: #ff3e7d;
$bluegrey: #88a6b0;
$silver: #c2cdd1;
$dark-blue-grey: #1f3654;
$cranberry: #9c0435;
$red-pink: #f33573;

$text-color-main: $dark-blue-grey;
$text-color-secondary: $bluegrey;
$text-color-btn: white;
$bg-color-icon: $silver;
$bg-color-btn: $warm-pink;
$bg-color-btn-focus: $red-pink;
$shadow-color: transparentize($cranberry, 0.5);
